body,head,header {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

.expansion{
  background-color: rgb(144, 201, 219);
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  margin: 25px;
}

.expanded{
  font-size: 24px;
  margin: 25px;
  outline: 1px black;
  /* Setup */
  position: relative;
  text-align: center;
}

.expanded img {
  margin: auto;
  display: block;
}

.title,.description{
  font-size: 25px;
  color: navy;
}

.container {
  background-color: lightblue;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container .item {
  width: 50%;
}
ngb-rating{
  color:rgb(61, 97, 225);
  font-size: 20px;
}

a{
  font-size:20px;
}

button{
  font-size: 20px;
}

.welcome,.welcometext{
  font-size: 20px;
  color: navy;
  text-align: center;
}

b{
  margin: 20px;
  margin-bottom: 50px;
}