<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: center;
}
p{
  text-align: center;
}
</style>
</head>
<body>

<h1>Welcome to the start of your journey into fitness!</h1>
<p>Here you can find immense help in starting or modifying your personal fitness needs</p>

<p>To help you get started here you can learn about the benefits of this website</p>

  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/assets/images/flex.jpg" alt="Flex" style="width:100%">
          <div class="caption">
            <p>Here you can search for any fitness plan you like</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/assets/images/lifting.jpg" alt="Lifting" style="width:100%">
          <div class="caption">
            <p>You can rate and check the rating of each fitness plan to help you find the best ones</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/assets/images/Running.jpg" alt="Running" style="width:100%">
          <div class="caption">
            <p>You can find fitness plans that have a list of exercises with detailed description so beginners can also start easily.</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/assets/images/swimming.jpg" alt="Swimming" style="width:100%">
          <div class="caption">
            <p>You can make new friendships or strengthen old ones</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/assets/images/biking.jpg" alt="Biking" style="width:100%">
          <div class="caption">
            <p>The site is free to use</p>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
          <img src="/assets/images/dumbbells.jpg" alt="Dumbbells" style="width:100%">
          <div class="caption">
            <p>Begin your journey now!</p>
          </div>
      </div>
    </div>
  </div>
