<!DOCTYPE html>
<html>
  <head>
    <!--link rel="stylesheet" href="mystyle.css"-->
  </head>
  <body>
<div class="form-center">
    <h1>Here you can create your very own Fitness Plan!</h1>
</div>

<form [formGroup]="addFitnessPlanForm">


    <p>Name of the Fitness Plan:</p>
    <p>
  
      <input type="text" id="name" name="name" formControlName="name">
    </p>
    <p>Description of the Fitness Plan:</p>
    <p>
      <input type="text" id="description" name="description" formControlName="description">
    </p>
    <p>Data given: {{addFitnessPlanForm.value | json}}</p>
  
  
  </form>
  <td><button type="button"  (click)="open(content)" >Add an Exercise to the Fitness Plan</button></td>
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Choose Exercise</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
  
  <form [formGroup]="addFitnessExerciseForm">
  
  
    <p>Name of the exercise:</p>
    <p>
  
      <input type="text" id="name" name="name" formControlName="name">
    </p>
    <p>Description of the exercise:</p>
    <p>
      <input type="text" id="description" name="description" formControlName="description">
    </p>
    <p>Picture of the exercise:</p>
    <!--div class="form-group"-->
      <label for="file">Choose File</label>
      <input type="file"
             id="file"
             name="file"
             (change)="handleFileInput($any($event.target).files)"
             formControlName="file">
  <!--/div-->
    <p>Difficulty of the exercise:</p>
    <p>
      <input type="text" id="difficulty" name="difficulty" formControlName="difficulty">
    </p>
  
    
  
    
  
    <p>Exercise Data given: {{addFitnessExerciseForm.value | json}}</p>
    
  
  
  </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="SetExerciseList();modal.close('Save click')">Add a new exercise to the event</button>
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click') ">close window</button>
  </div>
  </ng-template>
  
  <p>Exercises added to Fitness Plan:</p>
    <div *ngFor="let item of fitnessExerciseLocalList">
      <p>{{item.name}}</p>
    </div>
  
  <button type="button" (click)="setFitnessPlan()">Add a new Fitness Plan</button>
</body>
</html>