<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <div class="form-center">
    <h1>Here you can create your very own Fitness Plan!</h1>
  </div>

  <form [formGroup]="addFitnessPlanForm">

    <div>
      <input type="text" id="name" name="name" formControlName="name" required="true" placeholder="Name">
    </div>
    <div>
      <textarea type="text" id="description" name="description" formControlName="description" maxlength='1000'
        placeholder="Enter your description here">
      </textarea>
    </div>

  </form>
  <td><button type="button" (click)="open(content)">Add an Exercise to the Fitness Plan</button></td>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add an exercise for your plan</h4>
      <button type="button" class="close" aria-label="Close" style="width:20%" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form [formGroup]="addFitnessExerciseForm">
        <p>
          <input type="text" id="name" name="name" formControlName="name" placeholder="Name of the Exercise">
        </p>
        <p>
          <input type="text" id="description" name="description" formControlName="description" required="true"
            placeholder="Description of the Exercise">
        </p>
        <p>Picture of the exercise:</p>
        <input type="file" name="myFile" class="form-control mb-3" accept="image/png, image/jpg, image/gif, image/jpeg"
          (change)="fileEvent($event)" />

        <p>Difficulty of the exercise:</p>
        <p>
          <input type="text" id="difficulty" name="difficulty" formControlName="difficulty">
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="SetExerciseList();modal.close('Save click')">Add a new
        exercise to the event</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click') ">close window</button>
    </div>
  </ng-template>

  <p>Exercises added to Fitness Plan:</p>
  <div *ngFor="let item of fitnessExerciseLocalListWithPicture">
    <p>{{item.fitnessExercise.name}}</p>
  </div>
  <button type="button" (click)="setFitnessPlan()">Add a new Fitness Plan</button>
</body>

</html>